<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" id="saveForm">


            课程：
                <select name="subName">
                <option value="0" selected>请选择
                <option value="1">数学
                <option value="2">语文
                <option value="3">英语
                </select><br>
            课程目录：
                <input type="text" name="subjectName"><br>
            直播时间：
                <input type="date" name="subjectTime"><br>
            课程状态：
                    <input type="radio" name="courseTypeId"  value="1">直播未开讲
                    <input type="radio" name="courseTypeId"  value="2">直播进行中
                    <input type="radio" name="courseTypeId"  value="3">直播已结束



</form>

<script type="text/javascript">




</script>

</body>
</html>