<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">
    <link href="../js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">
    <link href="../js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <link href="../js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
<!--
    <link rel="stylesheet" href="../js/uploadify/uploadify.css">
-->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <script src="../js/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <!--<script type="text/javascript" src="../js/uploadify/jquery.uploadify.min.js"></script>-->

    <script src="../js/bootstrap-bootbox/bootbox.js"></script>


</head>
<body>

<table class="table" id="exp-table" border="1"></table>
<script type="text/javascript">

    $(function(){
        queryType();
    })

    function queryType(){
        /*$("#exp-table").bootstrapTable("refresh",{'pageNumber':1});*/
        $("#exp-table").bootstrapTable({
            url:"../queryAudit",
            striped: true,//隔行变色
            showColumns:true,//是否显示 内容列下拉框
            showPaginationSwitch:true,//是否显示 数据条数选择框
            minimumCountColumns:2,//最小留几列 默认值1
            showRefresh:true,//显示刷新按钮
            showToggle:true,//显示切换视图
            search:true,//是否显示搜索框
            searchOnEnterKey:true,//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
            pagination:true,//开启分页
            paginationLoop:true,//开启分页无限循环
            pageNumber:1,//当前页数
            pageSize:2,//每页条数
            pageList:[1,5,10],//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            sidePagination:"server",//
            method:'post',//发送请求的方式
            contentType:"application/x-www-form-urlencoded",
            queryParams:function(obj){

                // return 的数据 是传递到 控制层类中的参数
                return {

                    page:this.pageNumber,//当前页
                    rows:this.pageSize //每页条数
                }
            },
            columns: [
                {field: 'auditId',title:'ID', width:100},
                {field: 'auditName',title: '课程目录', width: 100},
                {field: 'subName',title: '课程', width: 100},
                {field: 'auditTime',title: '添加时间', width: 100},
                {field: 'auditStatus',title: '审核状态', width: 100,
                    formatter:function(value,row,index) {
                        if(value==1){
                            return "审核中"
                        }else if(value==2){
                            return "审核通过"
                        }else if(value==3){
                            return "审核拒绝"
                        }
                    }

                },

                {field: 'cz',title: '操作',width: 100,
                    formatter:function(value,row,index){
                        if(row.auditStatus==1){

                          return '<button class="btn btn-link" onclick="deleteAudit('+ row.auditId +',\''+ row.auditName +'\')" >删除</button>' +
                                 '<button class="btn btn-link" onclick="applicationPass('+ row.auditId +',\''+row.auditName+'\',2)" >通过</button>' +
                                 '<button class="btn btn-link" onclick="applicationRefuse('+ row.auditId +',\''+row.auditName+'\',3)" >拒绝</button>'


                        }else if(row.auditStatus==2||row.auditStatus==3){
                            return '<button class="btn btn-link" onclick="deleteTeacherAppById('+ row.auditId +',\''+row.auditName+'\')" >删除</button>';
                        }

                    }

                }
            ]
        })
    }


    // 单删
    function deleteAudit(auditId, auditName){
        bootbox.confirm({
            size: "small",
            message: "你确定要删除 "+auditName+" 吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../deleteAudit",
                        type: "post",
                        data: {"ids":auditId},
                        dataType: "json",
                        success:function(aa){
                            if(aa>0){

                                $("#exp-table").bootstrapTable("refresh", {'pageNumber': 1});
                            }

                        }
                    })
                }
            }
        })
    }

    //该状态审核
    function applicationRefuse(id,name,flag){
        bootbox.confirm({
            size: "small",
            message: "亲爱的管理员，您确定要将"+name+"审核拒绝吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../updateAppSubject?id="+id+"&flag="+flag,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            if (msg > 0) {
                                $("#exp-table").bootstrapTable("refresh", {'pageNumber': 1});
                            }
                        }
                    })
                }
            }
        })
    }
    function applicationPass(id,name,flag){
        bootbox.confirm({
            size: "small",
            message: "亲爱的管理员，您确定要将"+name+"审核通过吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../updateAppSubject?id="+id+"&flag="+flag,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            alert(msg);
                            if (msg > 0) {
                                $("#exp-table").bootstrapTable("refresh", {'pageNumber': 1});
                            }
                        }
                    })
                }
            }
        })
    }


</script>


</body>
</html>