<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.CourseMapper" >

    <select id="queryTotal"  resultType="long">
    select count(*) from t_subject
    </select>

    <select id="queryCourse" resultType="com.jk.model.Subject">
        select s1.subjectId,s4.subName,s1.subjectname,s4.subImg,s4.subInfo,s1.subjectTime,s3.staName
        from t_subject s1,subject_course_center s2 ,subject_status s3 ,t_course s4
        where s1.subjectId=s2.subjuctId  and s4.subId=s2.courseId and s3.subjectcoursecenterid=s1.courseTypeId
        <include refid="searchSql"></include>
        order by s1.subjectId
        limit ${start}, ${rows}
    </select>


    <sql id="searchSql">

        <if test="course.subjectName != null and course.subjectName != ''">
            and subjectname = #{course.subjectName}
        </if>
        <if test="course.startDate != null and course.startDate != ''">
            and subjectTime &gt; #{course.startDate}
        </if>
        <if test="course.endDate != null and course.endDate != ''">
            and subjectTime &lt;= #{course.endDate}
        </if>

    </sql>


    <delete id="deleteSubjectByIds" parameterType="string">
  	delete from t_subject  where subjectId in (${ids})
    </delete>



    <!--<select id="querysum" resultType="int">
        select count(*) from t_book
    </select>

    <select id="queryBook" resultType="com.jk.model.Book">
        select * from t_book
    </select>

    <select id="queryBookList" resultType="com.jk.model.Book">
        select * from t_book
    </select>

    <select id="queryBookByName" resultType="com.jk.model.Book">
        select ${value} from t_book
    </select>

    <select id="queryById" resultType="com.jk.model.Book" parameterType="int">
        select * from t_book where bookId=#{id}
    </select>

    <insert id="addBook" parameterType="com.jk.model.Book" >
        insert into t_book(bookName,bookPrice,bookType) values (#{bookName},#{bookPrice},#{bookType})
    </insert>

    <delete id="deleteBook" parameterType="int">
        delete from t_book where bookId=#{id}
    </delete>

    <update id="updateBook" parameterType="com.jk.model.Book">
        update t_book set bookName=#{bookName},bookPrice=#{bookPrice},bookType=#{bookType} where bookId=#{bookId}
    </update>

    <insert id="addBookList" parameterType="java.util.List">
        insert into t_book (bookName,bookPrice,bookType)
        values
        <foreach collection="list" item="l" separator=",">
        (#{l.bookName},#{l.bookPrice},#{l.bookType})
        </foreach>



     </insert>-->
</mapper>