<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MoneyMapper" >

    <sql id="searchSql">
        <where>
            <if test="orders.teacher !=null and orders.teacher !=''">
                and t.teacher like '%${orders.teacher}%'
            </if>
            <if test="orders.createtime != null and orders.createtime != ''">
                and t.createtime &gt;= ${orders.createtime}
            </if>
            <if test="orders.endDate != null and orders.endDate !='' ">
                and t.createtime &lt;= ${orders.endDate}
            </if>
        </where>
    </sql>

    <select id="getCount" resultType="long">
        select count(*) from t_order t
        <include refid="searchSql"/>
    </select>

    <select id="queryTeacherMoney" resultType="com.jk.model.Orders">
        select * from t_order t
        <include refid="searchSql"/>
         limit #{start},#{rows}
    </select>






</mapper>