<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">
    <link href="../js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">
    <link href="../js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <link href="../js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <script src="../js/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <!-- bootstrap 弹框 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!--日期插件-->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

</head>
<body>
    <table class="table" id="myTable"></table>
<script>
    $(function(){
        queryApplication();
    })
    function queryApplication(){
        $("#myTable").bootstrapTable("refresh",{'pageNumber':1});
        //列表展示
        $('#myTable').bootstrapTable({
            url:'../teacher/queryApplication',//获取数据地址
            pagination:true, //是否展示分页
            pageList:[2, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:2,//默认每页条数
            // search:true,//是否显示搜索框
            // searchText:'搜索',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            queryParams:function(){
                return{
                    page:this.pageNumber,
                    rows:this.pageSize,
                    /*teaName:$("#teaName").val(),
                    Datestart:$("#Datestart").val(),
                    Dateend:$("#Dateend").val(),
                    tealevelId:$("#tealevelId").val(),*/
                };
            },
            columns:[
                [
                    {field:'111',title:'11',checkbox:true},
                    {field:'teachername',title:'老师姓名'},
                    {field:'teacherlevel',title:'老师等级'},
                    {field:'shenfenzheng',title:'身份证号'},
                    {field:'identityimg',title:'身份证图片'},
                    {field:'certification',title:'资质证书'},
                    {field:'appstatus',title:'申请状态',formatter:function(value,row,index) {
                            if(value==1){
                                return "审核中"
                            }else if(value==2){
                                return "审核通过"
                            }else if(value==3){
                                return "审核拒绝"
                            }
                        }
                    },
                    {field:'subname',title:'教学科目'},
                    {field:'teachershow',title:'老师简介'},
                    {field:'123',title:'操作',formatter:function(value,row,index){
                            if(row.appstatus==1){
                                return '</button><button class="btn btn-link" onclick="applicationPass('+ row.appid +',\''+row.teachername+'\',2)" >通过</button>'+
                                        '</button><button class="btn btn-link" onclick="applicationRefuse('+ row.appid +',\''+row.teachername+'\',3)" >拒绝</button>'+
                                        '</button><button class="btn btn-link" onclick="deleteTeacherById('+ row.teaId +',\''+row.teaName+'\')" >删除</button>';
                            }else if(row.appstatus==2||row.appstatus==3){
                                return '</button><button class="btn btn-link" onclick="deleteTeacherById('+ row.teaId +',\''+row.teaName+'\')" >删除</button>';
                            }
                        }}
                ]
            ]
        })
    }

    function applicationRefuse(id,teachername,flag){
        bootbox.confirm({
            size: "small",
            message: "亲爱的管理员，您确定要将"+teachername+"审核拒绝吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../teacher/updateAppStatus?id="+id+"&flag="+flag,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            if (msg > 0) {
                                $("#myTable").bootstrapTable("refresh", {'pageNumber': 1});
                            }
                        }
                    })
                }
            }
        })
    }
    function applicationPass(id,teachername,flag){
        bootbox.confirm({
            size: "small",
            message: "亲爱的管理员，您确定要将"+teachername+"审核通过吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../teacher/updateAppStatus?id="+id+"&flag="+flag,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            if (msg > 0) {
                                $("#myTable").bootstrapTable("refresh", {'pageNumber': 1});
                            }
                        }
                    })
                }
            }
        })
    }
</script>
</body>
</html>